---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":21041542,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sat, 06 Jul 2013 21:54:06 GMT
- request:
    method: get
    uri: https://api.runkeeper.com/settings?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.settings+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"post_nutrition_twitter":false,"post_sleep_twitter":false,"weight_units":"lbs","share_background_activities":"Everyone","post_fitness_activity_facebook":false,"twitter_connected":false,"post_nutrition_facebook":false,"share_general_measurements":"Just
        Me","post_general_measurements_twitter":false,"first_day_of_week":"Sunday","post_live_fitness_activity_facebook":false,"post_general_measurements_facebook":false,"share_weight":"Just
        Me","share_nutrition":"Everyone","facebook_connected":false,"share_diabetes":"Just
        Me","distance_units":"mi","post_sleep_facebook":false,"post_diabetes_twitter":false,"post_live_fitness_activity_twitter":false,"post_fitness_activity_twitter":false,"post_weight_twitter":false,"post_background_activity_twitter":false,"post_diabetes_facebook":false,"share_fitness_activities":"Everyone","post_weight_facebook":false,"post_background_activity_facebook":false,"share_map":"Friends","foursquare_connected":false,"share_sleep":"Everyone"}'
  recorded_at: Sat, 06 Jul 2013 21:54:06 GMT
recorded_with: VCR 2.5.0
