---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user?access_token=d33365e5bad54db1b6c95f98e98e7d78
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":21041542,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sat, 06 Jul 2013 00:05:15 GMT
recorded_with: VCR 2.5.0
