---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":21041542,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sat, 06 Jul 2013 18:47:55 GMT
- request:
    method: get
    uri: https://api.runkeeper.com/profile?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.profile+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"birthday":"Wed, 25 Jan 1989 00:00:00","location":"Boston, MA, USA","name":"Greg
        Pallotta","elite":"false","gender":"M","athlete_type":"Runner","profile":"http://runkeeper.com/user/976837732"}'
  recorded_at: Sat, 06 Jul 2013 18:47:57 GMT
recorded_with: VCR 2.5.0
