---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":21041542,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sun, 07 Jul 2013 17:03:01 GMT
- request:
    method: get
    uri: https://api.runkeeper.com/fitnessActivities?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.FitnessActivityFeed+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"items":[],"size":0}'
  recorded_at: Sun, 07 Jul 2013 17:04:21 GMT
recorded_with: VCR 2.5.0
