---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":21041542,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sat, 06 Jul 2013 22:37:42 GMT
- request:
    method: get
    uri: https://api.runkeeper.com/records?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.records+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '[{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Running"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Cycling"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Mountain
        Biking"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Walking"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Hiking"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Downhill
        Skiing"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Cross-Country
        Skiing"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Snowboarding"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Skating"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Swimming"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Wheelchair"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Rowing"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Elliptical"},{"stats":[{"stat_type":"OVERALL","value":0}],"activity_type":"Other"}]'
  recorded_at: Sat, 06 Jul 2013 22:37:43 GMT
recorded_with: VCR 2.5.0
